.login {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-header {
  color: black !important;
}

.register-header-white {
  color: white !important;
}

.client-register-page,
.package-create-page,
.employee-register-page,
.trainer-register-page,
.employee-balance-page,
.token-price-create-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 851px;
  background-repeat: no-repeat;
  background-size: cover;
}

.client-register-page {
  background-image: url("/src/Images/login-page.jpg");
}

.employee-register-page {
  background-image: url("/src/Images/sport-equipment.jpg");
}

.trainer-register-page {
  background-image: url("/src/Images/sport-equipment-trainer.jpg");
}

.package-create-page {
  background-image: url("/src/Images/person-wrapping-christmas-gift.jpg");
}

.employee-balance-page {
  background-image: url("/src/Images/employee-background.jpg");
}

.auth-form-container-black {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.token-price-create-page {
  background-image: url("/src/Images/tokens.jpg");
}

.auth-form-container {
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Add background color with transparency */
  border: 1px solid #adadad;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  text-align: left;
  width: 111px;
  padding: 0.5rem 0;
  color: black !important;
}

.form-label-white {
  text-align: left;
  width: 112px;
  padding: 0.5rem 0;
  color: white !important;
}

.register-input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid #0041cc;
  border-radius: 10px;
  width: 100%;
  flex: 1;
  margin: 0;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 101% !important;
}

.register-select {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 100%;
  flex: 1;
  margin: 0;
  border: 1px solid #0041cc;
}

.register-button,
.login-button {
  background-color: #3776ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
}

.change-info-button {
    margin: 0 auto;
    display: block !important;
    margin-top: 21px;
}

.login-button {
  background-color: #3776ff;
}

.register-button:hover {
  background-color: #0041cc;
}

.error-message {
  color: rgb(255, 0, 0);
}

.admin_name {
  color: white;
  margin: 0 !important;
  padding: 10px 30px !important;
}

.user-icon {
  scale: 1.5;
  margin-left: 10px;
}

.user-icon:hover {
  fill: #00d5ff;
  color: #00d5ff;
}

.headers {
  color: white;
  display: inline-block;
  text-align: center;
  background-color: #2b3035;
  margin: 10px;
  padding: 15px 30px;
  border: 2px solid #4d5154;
  border-radius: 40px;
}

.header-container {
  display: block;
  text-align: center;
}

.admin-page {
  background-image: url("/src/Images/teahub.io-wallpaper-black-metal-1726360.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}

.admin-link {
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}

.table {
  width: 90% !important;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem !important;
}

.body-container {
  display: inline-block;
  margin-top: 50px;
  color: white;
  text-align: left;
  font-size: 24px;
  line-height: 56px;
  background-color: #2b3035;
  padding: 40px;
  border: 2px solid #4d5154;
}

.body-row {
  display: block;
}

.body-info {
  display: block;
  text-align: center;
}

.body-row-item {
  color: #00cccc;
}

.admin-role {
  color: #00d5ff;
}

.navbar-brand {
  color: #00d5ff !important;
}

.dropdown-item:hover {
  color: #00d5ff !important;
}

h2 {
  font-size: 26px !important;
  color: #fbd300 !important;
}

.login-package-create-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.login-form-label-white {
  text-align: center;
  width: 341px;
  padding: 1.5rem 0 0.5rem 0;
  color: white !important;
}

.login-register-input {
  display: block;
  margin: 1.5rem 0px;
  padding: 1rem;
  border: 1px solid #0041cc;
  width: 250px;
}

.login-page {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/src/Images/login.jpg");
}

/* EMPLOYEE */
.client-status-inactive {
  color: red;
}

.client-status-active {
  color: #61fb00;
}

.employee-role {
  color: #fbd300;
}

.employee-page {
  background-image: url("/src/Images/employee-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}

.trainer-page {
    background-image: url("/src/Images/trainer-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
  }

.dark-opacity {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.employee-icon,
.client-icon {
  scale: 1.5;
  margin-left: 10px;
}

.employee-icon:hover {
  fill: #fbd300;
  color: #fbd300;
}

.client-icon:hover {
  fill: #61fb00;
  color: #61fb00;
}

.body-row-item-employee {
  color: #fbd300;
}

.without-navbar {
  min-height: 931px;
  position: relative;
}

.bi-arrow-left-circle {
  position: absolute;
  top: 50px;
  left: 100px;
  scale: 3;
  fill: black;
}

.bi-arrow-left-circle:hover {
  fill: yellow;
}

.client-role,
.body-row-item-client {
  color: #61fb00;
}

.nav-item {
    display: block;
}

.span1 {
    padding-left: 70px;
    padding-right: 91px;
}

.span2 {
    padding-right: 56px;
}

.span3 {
    padding-right: 66px;
}

.negative-total {
    color: red !important;
  }

  .client-header {
    color: #b4b4b4;
    display: block;
    margin: 26px auto 50px;
    width: fit-content;
    padding: 30px;
  }

  .card {
    align-items: center;
    --bs-card-spacer-x: 8rem;
    --bs-card-title-spacer-y: 1.5rem;
    --bs-card-bg: rgb(43, 48, 53, 0.85) !important;
    color: white !important;
    margin: 0 120px;
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
    --bs-card-bg: rgb(43, 48, 53, 1) !important;
  }

  .card-purchase {
    position: relative;
  }

  .card-purchase-p {
    position: absolute;
    top: 35%;
    left: 21%;
    font-size: 40px;
  }

  .card-title {
    text-align: center;
    margin-bottom: 19px;
  }

  :root, [data-bs-theme=light] {
    --bs-secondary-color: white !important;
  }

  .card-text {
    padding: 10px 40px 10px;
    text-align: center;
  }

  .card-svg {
    margin: 31px 0;
  }

  .card-footer {
    margin-bottom: 31px;
  }