.login {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-header {
  color: black !important;
}

.register-header-white {
  color: white !important;
}

.client-register-page,
.package-create-page,
.employee-register-page,
.trainer-register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.client-register-page {
  background-image: url("/src/Images/login-page.jpg");
}

.employee-register-page {
  background-image: url("/src/Images/sport-equipment.jpg");
}

.trainer-register-page {
  background-image: url("/src/Images/sport-equipment-trainer.jpg");
}

.package-create-page {
  background-image: url("/src/Images/person-wrapping-christmas-gift.jpg");
}

.auth-form-container-black {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.auth-form-container {
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Add background color with transparency */
  border: 1px solid #adadad;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  text-align: left;
  width: 111px;
  padding: 0.5rem 0;
  color: black !important;
}

.form-label-white {
  text-align: left;
  width: 112px;
  padding: 0.5rem 0;
  color: white !important;
}

.register-input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid #0041cc;
  border-radius: 10px;
  width: 100%;
  flex: 1;
  margin: 0;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 101% !important;
}

.register-select {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 100%;
  flex: 1;
  margin: 0;
  border: 1px solid #0041cc;
}

.register-button {
  background-color: #3776ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-top: 1rem;
}

.register-button:hover {
  background-color: #0041cc;
}

.error-message {
  color: rgb(192, 0, 0);
}

.admin_name {
  color: white;
}

.user-icon {
  scale: 1.5;
  margin-left: 10px;
}

.headers {
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 25px 0;
}

.admin-page {
  background-image: url("/src/Images/teahub.io-wallpaper-black-metal-1726360.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 931px;
}
