.login {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-header {
  color: black !important;
}

.register-header-white {
  color: white !important;
}

.client-register-page,
.package-create-page,
.employee-register-page,
.trainer-register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.client-register-page {
  background-image: url("/src/Images/login-page.jpg");
}

.employee-register-page {
  background-image: url("/src/Images/sport-equipment.jpg");
}

.trainer-register-page {
  background-image: url("/src/Images/sport-equipment-trainer.jpg");
}

.package-create-page {
  background-image: url("/src/Images/person-wrapping-christmas-gift.jpg");
}

.auth-form-container-black {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.auth-form-container {
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Add background color with transparency */
  border: 1px solid #adadad;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  text-align: left;
  width: 111px;
  padding: 0.5rem 0;
  color: black !important;
}

.form-label-white {
  text-align: left;
  width: 112px;
  padding: 0.5rem 0;
  color: white !important;
}

.register-input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid #0041cc;
  border-radius: 10px;
  width: 100%;
  flex: 1;
  margin: 0;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 101% !important;
}

.register-select {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 100%;
  flex: 1;
  margin: 0;
  border: 1px solid #0041cc;
}

.register-button {
  background-color: #3776ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
}

.register-button:hover {
  background-color: #0041cc;
}

.error-message {
  color: rgb(255, 0, 0);
}

.admin_name {
  color: white;
  margin: 0 !important;
  padding: 10px 30px !important;
}

.user-icon {
  scale: 1.5;
  margin-left: 10px;
}

.user-icon:hover {
  fill: #00d5ff;
  color: #00d5ff;
}

.headers {
  color: white;
  display: inline-block;
  text-align: center;
  background-color: #2b3035;
  margin: 10px;
  padding: 15px 30px;
  border: 2px solid #4d5154;
  border-radius: 40px;
}

.header-container {
  display: block;
  text-align: center;
}

.admin-page {
  background-image: url("/src/Images/teahub.io-wallpaper-black-metal-1726360.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 931px;
}

.admin-link {
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}

.table {
  width: 90% !important;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem !important;
}

.body-container {
  display: inline-block;
  margin-top: 50px;
  color: white;
  text-align: left;
  font-size: 24px;
  line-height: 56px;
  background-color: #2b3035;
  padding: 40px;
  border: 2px solid #4d5154;
}

.body-row {
  display: block;
}

.body-info {
  display: block;
  text-align: center;
}

.body-row-item {
  color: #00cccc;
}

.admin-role {
  color: #00d5ff;
}

.navbar-brand {
  color: #00d5ff !important;
}

.dropdown-item:hover {
  color: #00d5ff !important;
}

h2 {
  font-size: 26px !important;
  color: #fbd300 !important;
}
